
<h1>Your Dashboard</h1>


<footer class="d-grid gap-2 col-6 mx-auto">
  <button class="btn" type="button"><a class="nav-link active" href="/post">+ New Post</a></button>
</footer>

<script src="./js/profile.js"></script>
